name: Build Status

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Prework
      run: |
        echo '{"name": "a", "version": "0.0.0", "scripts": {}}' > package.json
        printf 'lockfileVersion: '9.0'\nsettings:\n\tautoInstallPeers: true\n\texcludeLinksFromLockfile: false\nimporters:\n.: {}' > pnpm-lock.yaml

    - name: Setup Node
      uses: actions-ext/node/setup@main
      with:
        version: '20.x'
        js_folder: .

    - name: Install
      run: pnpm install
